<div class="container">
  <div class="row">
   <div class = "col-md-3">
    <%= render 'users/list', user: @user,post_image: @post_image %>
   </div>
  <div class = "col-md-9">
   <p>最新レシピ</p>
    <!--ユーザーの投稿一覧-->
   <%= render 'post_images/list' %>
   <%#= render 'ranks/rank',rank: @post_image_favorite_ranks,post_image: @post_images %>
   </div>
  </div>
</div>

