<h1>管理者top</h1>

<%#= link_to "コメント一覧",admins_post_comments_path, class: 'nav-link text-dark' %>
<%= link_to "投稿一覧",admins_post_images_path, class: 'nav-link text-dark' %>
<%= link_to "user一覧",admins_users_path, class: 'nav-link text-dark' %>

