</body>
  <footer class="text-dark pt-2 pb-2">
  <div class="container">
  <div class ="row">
   <div class="col-md-4"></div>
   <div class="col-md-4">お料理SNS</div>
   <div class="col-md-4">
  </div>
  </div>
  </footer>
</body>